* {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Mansalva', cursive;
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif; */
}

.fa-solid {
    font-size: 60px;
}